* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:#65727c;
    text-align: center;
    margin-top: 30px;

}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#8c8c8c;
    text-align: center;
}
.formulario {
margin-top: 5px;
background-color: white;
text-align: center;
}
.datos{
    height: 40px;
    width: 240px;
}
#boton {
    color: white;
    font-size: 17px;
    background-color: green;
    height: 30px;
    width: 100px;
    border: 0px;
}